#!/bin/bash

RETRIES="{{ handler_health_osd_check_retries }}"
DELAY="{{ handler_health_osd_check_delay }}"
CEPH_CLI="--name client.bootstrap-osd --keyring /var/lib/ceph/bootstrap-osd/{{ cluster }}.keyring --cluster {{ cluster }}"

for id in $(ls /var/lib/ceph/osd/ | sed 's/.*-//'); do
  # First, restart daemon(s)
  systemctl restart ceph-osd@${id}
  # We need to wait because it may take some time for the socket to actually exists
  # Wait and ensure the socket exists after restarting the daemon
  SOCKET=/var/run/ceph/{{ cluster }}-osd.${id}.asok
  while [ $RETRIES -ne 0 ]; do
    test -S $SOCKET && exit 0
    sleep $DELAY
    let RETRIES=RETRIES-1
  done
  # If we reach this point, it means the socket is not present.
  echo "Socket file ${SOCKET} could not be found, which means the osd daemon is not running."
  exit 1
done
